HTML
  head  
    title=title
  body
    h1 hello jade
    ul
      -for(var i =0; i<5;i++) //-for 앞에 - / li : 문장부호 점 
        li coding
    div=time 
//-띄어쓰기 하면 안된다 / ul, div : '태그'라고 한다.
//- =변수 / ${변수} 가능
